@import "breakpoints/base";

@media (min-width: 545px) {
    @import "breakpoints/545up";
}

@media (min-width: 768px) {
    @import "breakpoints/768up";
}

@media (min-width: 1000px) {
    @import "breakpoints/1000up";
}
