@charset "UTF-8";
img {
    max-width: 767px;
}
.landing-story {
    padding: 40px 10px 10px 10px;
    & h2 {
        padding: 24px 0 24px 0;
        text-align: center;
    }

    & p {
        line-height: 1.75em;
    }

    & .story-list {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0;
        grid-row-gap: 20px;
        margin: 40px auto;


        &__card {
            height: 320px;
            margin: 0;
            &:nth-child(n+4) {
                display: inline-block;
            }


        }
        &__card__main {
            display: flex;
            color: darkslategrey;
            text-align: center;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
            padding: 40px 24px;
            background: rgb(255 255 255);

            &__iconframe {
                display: flex;
                justify-content: center;
                grid-column: initial;
                margin: 0 auto;
            }
            &__icon {
                width: 80px;
                height: 80px;
                margin: 0 auto;

                & img {
                    vertical-align: middle;
                }
            }
            &__summary {
                margin-top: 30px;
                grid-column: initial;
                grid-row: initial;
                font-size: .750rem;
                line-height: 160%;
                text-align: center;
            }
            &__info {
                align-items: center;
                margin: 12px auto;
                justify-content: flex-end;
                &__name {
                    grid-column: initial;
                    grid-row: initial;
                    font-size: 0.875rem;
                    line-height: 0;
                    margin-top: 0;
                }
                &__country-name {
                    grid-row: initial;
                    grid-column: initial;
                    font-size: 11px;
                    margin-top: 0;
                    color: rgb(186 198 211);
                    letter-spacing: .2em;
                }
            }
        }
    }
}
.landing-plan {
    &__main {
        margin: 0 16px 20px 16px;
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 4%;
        margin-top: 60px;
        // text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    &__inner {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin-bottom: 24px;
    }

    &__lesson-info {
        grid-template-columns: 1fr 1fr;
        height: 240px;
        grid-gap: 0;
        grid-column: 1/3;
        padding-top: 48px;
        text-align: center;
        &__image-container {
            order: initial;
        }
        &__image {
            margin: 0;
            display: flex;
            height: 190px;
        }
        &__title-container .landing-heading {
            font-size: 20px;
            text-align: left;
            align-items: center;
            padding: 20px;
        }
    }

    &__plan-info {
        height: 240px;
        padding-top: 40px;
            font-weight: bold;
            color: rgb(43 84 106);
            padding-top: 30px;


        &:last-child {
            padding-top: 30px;
            padding-bottom: initial;
        }

        &__price {
            font-size: 38px;
            font-weight: bold;
            text-align: center;
            color: rgb(43 84 106);
            margin-top: 8px;
            line-height: 1;

            &-text {
                font-size: 12px;
                padding: 0 4px;
            }

            &-mark {
                font-size: 24px;
                padding-right: 4px;
            }
        }
    }

    &__link-icon {
        padding-left: 4px;
    }
}
.landing-body-text {
    display: block;
    text-align: center;
}
.landing-app {
    &__main {
        text-align: center;
        &-image {
                width: 100%;
        }
        &-inner {
            margin-top: 30px;
            text-align: left;
            padding: 20px;
            flex-direction: row;
            max-width: 1000px;
            display: flex;
            &-container {
                width: 60%;
                margin-right: 5%;
                &-text-container {
                    font-size: 60%;
                    width: 60%;
                }
            }

            &-download-button {
                &-container {
                    margin: 24px 0 0;
                }
            }

        }
    }

    &-image-container {
        display: flex;
        max-width: 500px;
        align-items: center;
        vertical-align: bottom;
    }
}
.landing-message {
    &__container {
        text-align: center;
        padding: 0 8px;
    }

    &__text {
        margin-top: 24px;
    }
}
