@charset "UTF-8";
img {
    max-width: 999px;
}
.font-sm {
    font-size: 12px;
}

.font-md {
    font-size: 16px;
}

.font-lr {
    font-size: 24px;
}

.font-lg {
    font-size: 38px;
}
.landing-story {
    padding: 40px 20px 20px 20px;

    & h2 {
        padding: 24px 0 24px 0;
        text-align: center;
    }

    & p {
        line-height: 1.75em;
    }

    & .story-list {
        grid-template-columns: 1fr 1fr 1fr;
        &__card__main {
            &__info {
                align-items: center;
                margin: 12px auto;
                justify-content: flex-end;

                &__name {
                    grid-column: initial;
                    grid-row: initial;
                    font-size: 0.875rem;
                    line-height: 0;
                    margin-top: 0;
                }

                &__country-name {
                    grid-row: initial;
                    grid-column: initial;
                    font-size: 11px;
                    margin-top: 0;
                    color: rgb(186 198 211);
                    letter-spacing: .2em;
                }
            }
        }
    }
}
.landing-plan {
    &__main {
        margin: 0;
        text-align: center;
    }
    &__container {
        padding: 0px;
    }
    &__lesson-info {
        grid-template-columns: 1fr 1fr;
        height: auto;
        width: auto;
        grid-gap: 0;
        grid-column: 1/3;
        padding-top: 48px;
        text-align: center;

        &__image-container {
            order: initial;
        }

        &__image {
            margin: 0;
            display: flex;
            height: 190px;
        }
        &__title-container .landing-heading {
            font-size: 1.6rem;
            text-align: left;
            align-items: center;
            padding: 20px;
        }
    }

    &__plan-info {
        height: auto;
        width: auto;
        padding-top: 40px;
        font-weight: bold;
        color: rgb(43 84 106);
        padding-top: 30px;

        &__inner h2{
            padding: 30px;
            font-size: 1.7rem;
        }
        &:last-child {
            padding-top: 30px;
            padding-bottom: initial;
        }

        &__price {
            font-size: 38px;
            font-weight: bold;
            text-align: center;
            color: rgb(43 84 106);
            margin-top: 8px;
            line-height: 1;

            &-text {
                font-size: 12px;
                padding: 0 4px;
            }

            &-mark {
                font-size: 24px;
                padding-right: 4px;
            }
        }
    }

    &__link-icon {
        padding-left: 4px;
    }
}
.landing-app {
    &__main {
        &-inner {
            padding: 60px;
            &-container {
                font-size: 90%;
                width: 180%;
            }
            &-download-button {
                &-container {
                    margin: 56px 0 0;
                }
            }
        }
    }
    &-image-container {
        display: flex;
        max-width: 300px;
        align-items: center;
        vertical-align: bottom;
    }
}
.landing-create .landing-message__title {
    font-size: 26px;
}
.landing-body-text {
    font-size: .9rem;
}
.landing-create .landing-start__main__title {
    font-size: 26px;
}
.gizi {
    min-width: 150px;
}
.footer {
    border-top: 1px solid rgb(238 238 238);
    clear: left;
    letter-spacing: .04em;
    &__main .col-sm-2 {
        float: left;
        text-align: left;
        & ul {
        padding-left: 0;
        padding-right: 10px;
        }
        & h4 {
            font-size: 1rem;
        }
    }
    &>.container {
        padding-left: 0;
        padding-right: 0;
        &:before {
            content: "";
            display: table;
        }
    }
    & .row {
        margin-left: 0;
        margin-right: 0;
        &:before {
            content: "";
            display: table;
        }
    }
    &__logo {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-align-last: left;
        width: 144px;
        height: auto;
        padding-bottom: 4px;
        margin: 0;
        background: url(../../image/primary_logo-4d1810538e410b4c6af84210420099ca1772e8cb39013fad8532e499bcdb136e.svg) no-repeat;
        background-size: 100%;
        & h3 {
            height: 34px;
        }
    }
    &__menus {
        padding: 0;
        font-size: 0.7rem;
    }
    &__business-plan-logo {
        width: 94%;
        margin: 0 auto;
    }
    &__copyright {
        text-align: left;
    }
}
.col-sm-4 {
    width: 30%;
    display: block;
    float: left;
    text-align: left;
}
.app-download-links {
    text-align: left;
}
.col-sm-12 {
    width: 100%;
    margin-top: 0;
    text-align: left;
    float: left;
}
.u-mr5 {
    margin-right: 5px;
}
.u-mt50 {
    margin-top: 50px;
}
