@charset "UTF-8";

body {
    font-family: 'Lato', sans-serif;
    color: darkslategrey;
}
img {
    max-width: 1000px;
    vertical-align: bottom;
    text-decoration: none;
    transition: color .1s linear;
}
a {
    color: rgb(0 112 210);
    &:active {
        color: rgb(0 57 107)
    }
}
h1, h2 {
    text-align: center;
}
ul {
    list-style: none;
}
.font-sm {
    font-size: 11px;
}
.font-md {
    font-size: 14px;
}
.font-lr {
    font-size: 20px;
}
.font-lg {
    font-size: 26px;
}

header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    height: 80px;
    padding: 0 10px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    top: 0;
}
header img {
    // width: 100px;
    display: inline-block;
}
.header-menu {
    font-size: 12px;
    display: inline-block;
    & ul {
        display:inline-block;
        list-style: none;
        & li {
            display: inline-block;
            margin-right: 16px;
            &:last-child {
                margin-right: none;
            }
        }
    }
}
.header-menu ul li button {
    background: #30C8D6;
    font-size: 12px;
    font-style: bold;
    color: #fff;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
}
#landing-main {
    width: 100%;
}
.landing-container {
    display: block;
    padding-top: 9%;
    padding-bottom: 9%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 96px 4%;
}
.landing-first {
    padding: 100px 0px 0px 0px;
    text-align: center;
    font-size: 12px;
    & p {
        margin-bottom: 20px;
        & span {
            font-size: 15px;
        }
        & img {
            position: relative;
            top: -4px;
            width: 16px;
            margin-right: 8px;
            z-index: -1;
        }
    }
    & button {
        margin: 30px;
        background: #30C8D6;
        font-size: 12px;
        font-style: bold;
        color: #fff;
        padding: 10px 40px;
        border: none;
        border-radius: 4px;
    }
    &__imagebox {
        width: 100%;
        padding-top: 50px;
        background-size: auto;
        background: aquamarine;
        & img {
            width: 100%;
        }
    }
}
.landing-second {
    text-align: center;
    &__imagebox {
        width: 100%;
        margin: 0 auto;
        padding-top: 40px;
        & img {
            width: 100%;
        }
    }
    & h2 {
        padding: 24px 0 12px 0;
    }
    &  p {
        line-height: 1.75em;
    }
}
.landing-story {
    padding: 40px 10px 40px 10px;
    background: #2B546A;
    color: #fff;
    text-align: center;
    & h2 {
        padding: 24px 0 12px 0;
    }
    & p {
        line-height: 1.75em;
    }
    & .story-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 6vw;
        margin: 32px 0;
        &__card {
            height: 188px;
            &:nth-child(n+4) {
                display: none;
            }
        }
        &__card__main {
            color: darkslategrey;
            margin: 0 16px 20px 16px;
            display: grid;
            grid-template-rows: repeat(2, auto);
            grid-template-columns: auto 1fr;
            padding: 24px 16px;
            background: rgb(255 255 255);
            border-radius: 10px;
            flex-direction: column;
            text-align: center;
            font-weight: bold;
            height: 100%;
            transition: .3s;
            &__iconframe {
                display: flex;
                justify-content: center;
                grid-column: 1;
                margin-top: 18px;
                width: fit-content;
            }
            &__icon {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                & img {
                    vertical-align: middle;
                }
            }
            &__summary {
                margin-top: 0;
                grid-column: 1/3;
                grid-row: 1;
                font-size: .875rem;
                line-height: 170%;
                text-align: left;
                // line-height: 160%;
                // margin-top: 40px;
            }
            &__info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin: 23px 0 0 12px;
                grid-column: 2;
                &__name {
                    grid-column: 2/3;
                    grid-row: 2;
                    font-size: 0.875rem;
                    line-height: 0;
                    margin-top: 0;
                    color: rgb(186 198 211);
                    letter-spacing: .2em;
                }
                &__country-name {
                    grid-row: 3/4;
                    grid-column: 2/3;
                    font-size: 11px;
                    margin-top: 0;
                    color: rgb(186 198 211);
                    letter-spacing: .2em;
                }
            }
        }
    }
}
a button {
    height: 40px;
    width: 110px;
    margin-bottom: 0;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 12px;
    font-style: bold;
}
.landing-plan {
    &__container {
        max-width: 1000px;
        width: 100%;
    }
    &__main {
        margin: 0 16px 20px 16px;
    }
    &__inner {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 6vw;
        margin-bottom: 16px;
    }
    &__lesson-info {
        background-color: rgb(240 244 249);
        display: grid;
        border-radius: 10px;
        grid-template-columns: 1fr;
        grid-gap: 0;
        grid-column: 1;
        padding-top: 48px;
        text-align: center;
        &__image-container {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            order: 2;
        }
        &__image {
            margin-top: 40px;
            display: flex;
            width: 80%;
        }
    }
    &__plan-info {
        padding-top: 48px;
        padding-bottom: 40px;
        background-color: rgb(240 244 249);
        padding: 80px 16px 40px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        &__lesson-detail {
            font-weight: bold;
            color: rgb(43 84 106);
            margin-top: 40px;
        }
        &:last-child {
            background-color: rgb(247 237 173);
            padding-top: 48px;
            padding-bottom: 40px;
        }
        &__price {
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            color: rgb(43 84 106);
            margin-top: 8px;
            line-height: 1;
            &-text {
                font-size: 12px;
                padding: 0 4px;
            }
            &-mark {
                font-size: 24px;
                padding-right: 4px;
            }
        }
    }
    &__link-icon {
        padding-left: 4px;
    }
}
.landing-heading {
    font-size: 18px;
}
.landing-body-text {
    font-size: .75rem;
    margin-top: 8px;
    line-height: 2;
}

.landing-app {
    &__main {
        text-align: center;
        padding-top: 0;
        &-image {
            width: 300px;
            margin: 0 auto;
        }
        &-inner {
            background-color: rgb(144 195 240);
            color: rgb(255 255 255);
            text-align-last: left;
            border-radius: 5px;
            max-width: 1000px;
            display: flex;
            padding: 32px 5% 40px;
            flex-direction: column-reverse;
            &-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-width: initial;
                font-size: 80%;
                margin-left: 0;
            }
            &-download-button {
                &-container {
                    display: flex;
                    padding-top: 40px;
                    text-align: left;
                }
                &-ios {
                    display: inline;
                    margin-right: 16px;
                }
                &-android {
                    display: inline;
                }
            }

        }
    }
    &-image-container {
        display: flex;
        max-width: 300px;
        align-items: center;
        // margin: 0 auto;
    }
}
.landing-create {
    padding-top: 12%;
    padding-bottom: 12%;
}
.landing-message {
    &__main {
        background: rgb(255 255 255);
    }
    &__container {
       text-align: left;
       padding: 0 8px;
    }
    &__text {
        margin-top: 24px;
    }
}
.landing-body-text {
    font-size: .75rem;
}
.landing-start__main {
    background-color: azure;
    display: flex;
    text-align: center;
    &__text {
        margin-bottom: 24px;
    }
}
.gizi {
    font-size: 0.75rem;
    min-width: 110px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    padding: 0px 16px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    color: rgb(255, 255, 255);
    background-color: rgb(48, 200, 214);
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 0.02em;
}
.landing-sns__main {
    padding: 32px 0;
    display: flex;
    justify-content: center;
    background: rgb(255 255 255);
    & .landing-sns__icon {
        width: 20px;
        margin-right: 32px;
        &:hover {
            opacity: .8;
        }
        width: 20px;
    }
}
.container:before {
    content: "";
    display: table;
    box-sizing: border-box;
}
.container:after {
    content: "";
    display: table;
}
.row:before {
    box-sizing: border-box;
}
.row:after {
    content: "";
    display: table;
}
.u-mt10 {
    margin-top: 10px;
}
.u-mt50 {
    margin-top: 50px;
}
.u-pb50 {
    margin-bottom: 50px;
}
.u-pt50 {
    margin-top: 50px;
}
.u-mb10 {
    margin-bottom: 10px;
}
.u-mb60 {
    margin-bottom: 60px;
}
.u-mr5 {
    margin-right: 0;
}
.footer {
    opacity: .7;
    &__main {
        margin-top: 15px;
            text-align: center;
            & .col-sm-2 {
                margin-top: 40px;
                padding: 0;
                & ul {
                    padding-right: 33px;
                }
            }
    }
    & .container {
        max-width: 1000px;
        margin: 0 auto;
    }
    &__logo {
        text-align: center;
    }
    &__menus {
        padding-top: 10px;
        font-size: .75rem;
    }
    &__business {
        &-banner {
            margin-right: auto;
            margin-left: auto;
            background-color: rgb(255 255 255);
            box-shadow: rgb(0 0 0 / 12%) 0 1px 6px,
                rgb(0 0 0 / 12%) 0 1px 4px;
            border-radius: 2px;
            padding: 20px 15px;
            max-width: 248px;
            transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        }

        &-plan-logo {
            width: 200px;
            margin: 0 auto;
        }
        &-plan-description {
            display: block;
            max-width: 248px;
            margin: 20px auto 0;
            background-color: rgb(249 251 254);
            border-radius: 2px;
            padding: 20px 23px;
        }
    }
    &__copyright {
        font-size: 0.625rem;
        text-align: center;
    }
}
.app-download-links {
    // opacity: .7;
    font-size: 14px;
    color: rgb(24 60 97);
    text-align: center;
    padding-left: 0;
    & ul {
        margin-right: 0;
        padding-left: 0;
    }
}

.col-sm-4 {
    margin-top: 40px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    & h4 {
        font-size: 18px;
    }

}
.col-sm-12 {
    margin-top: 40px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
